In [16]:
from sqlalchemy import create_engine
import pandas as pd

In [17]:
# db_password = 'dataviz20'
db_location = 'probowl.cq2v3ncckm8b.us-east-2.rds.amazonaws.com'

In [21]:
db_string = f"postgresql://postgres:{db_password}@{db_location}/postgres"

In [22]:
engine = create_engine(db_string)

In [23]:
df = pd.read_sql_table('probowl', engine)

In [24]:
df.head()

  pos           player conf   tm  age
0  QB    Lamar Jackson  AFC  BAL   22
1  QB   Russell Wilson  NFC  SEA   31
2  QB       Drew Brees  NFC  NOR   40
3  QB     Kirk Cousins  NFC  MIN   31
4  QB  Patrick Mahomes  AFC  KAN   24